<h2 class="pt-2 text-lg font-bold">Target URLs</h2>
<ul role="list" class="divide-y divide-gray-100">
  <% target_urls.each do |target_url| %>
    <li class="flex flex-col gap-y-2 justify-between py-2">
      <div class="flex flex-col gap-y-3 md:flex-row justify-between md:gap-x-6">
        <div class="flex-auto min-w-0">
          <p class="line-clamp-2 text-base font-semibold leading-6 text-gray-900">
            <%= target_url.title %>
          </p>
          <a class="block truncate text-sm leading-5 text-sky-600 hover:underline"
            href="<%= target_url.external_url %>"
            target="_blank" 
            ><%= target_url.external_url %></a>
        </div>
        <div class="shrink-0 flex flex-row items-center self-end sm:flex-col sm:items-end">
          <p class="text-sm leading-5 text-gray-500 px-2">
            <time datetime="<%= target_url.created_at.iso8601 %>" 
              data-controller="local-datetime" data-local-datetime-time-value="false"/>
          </p>
          <div class="flex py-0 md:py-2">
            <div class="rounded-md p-2 text-amber-600 lg:hover:bg-amber-50">
              <a class="flex leading-5" 
                href="<%= admin_dashboard_urls_path(target_url.id) %>" 
                data-turbo-frame="target_url_<%= target_url.id %>_short_urls">
                <span class="text-xs font-medium pr-2">Shorten URLs</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <%= turbo_frame_tag "target_url_#{target_url.id}_short_urls" do %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>