<%= turbo_frame_tag "new_short_url" do %>
  <div id="<%= dom_id @short_url %>">
    <% target_url = @short_url.target_url %>
    <label for="<%= dom_id @short_url, :target %>">
      Your URL
    </label>
    <div id="<%= dom_id @short_url, :target %>">
      <%= link_to target_url.external_url, target_url.external_url, target: "_blank" %>
    </div>
    <label for="<%= dom_id @short_url, :shorten %>">
      Shortened URL
    </label>
    <div>
      <%= target_url.title %>
    </div>
    <div id="<%= dom_id @short_url, :shorten %>">
      <%= link_to slug_url(slug: @short_url.slug), slug_url(slug: @short_url.slug), target: "_blank" %>
    </div>

    <%= link_to "Shorten another", new_url_path %>
  </div>
<% end %>