<%= turbo_frame_tag "new_short_url" do %>
  <% if notice %>
    <div class="py-2">
      <div class="bg-emerald-100 border-l-4 border-emerald-400 text-emerald-700 px-4 py-2 max-w-2xlrelative" role="alert">
        <span class="block"><%= notice %></span>
      </div>
    </div>
  <% end %>
  <div id="<%= dom_id @short_url %>" class="flex flex-col w-full">
    <% target_url = @short_url.target_url %>

    <label for="<%= dom_id @short_url, :target %>" class="py-4">
      <span class="text-xl font-semibold">Your URL</span>
      <div id="<%= dom_id @short_url, :target %>">
        <a 
          class="text-sky-600 hover:underline" 
          href="<%= target_url.external_url %>" 
          target="_blank"><%= target_url.external_url %></a>
      </div>
    </label>
    
    <label for="<%= dom_id @short_url, :shorten %>" class="py-4">
      <span class="text-xl font-semibold">Shortened URL</span>
      <div class="font-light"><%= target_url.title %></div>
      <span id="<%= dom_id @short_url, :shorten %>">
        <a 
          class="text-sky-600 hover:underline" 
          href="<%= slug_url(slug: @short_url.slug) %>" 
          target="_blank"><%= slug_url(slug: @short_url.slug) %></a>
      </span>
    </label>

    <div class="pt-8">
      <a class="btn btn-primary" href="<%= new_url_path %>" data-turbo-frame="_top">Shorten another</a>
    </div>
  </div>
<% end %>