<!DOCTYPE html>
<html>
  <head>
    <title>Gecko Url Shortener</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-8 px-4">
      <div class=" py-4">
        <% if content_for?(:application_name) %>
          <%= yield :application_name %>
        <% else %>
          <a href="/" class="text-3xl font-extrabold text-gray-900">Shorten Url</a>
        <% end %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
